[2018-11-27 21:02] jubeira opened #1 "Add interactive marker proxy as an optional node"
This is required to visualize interactive markers; see https://github.com/jstnhuang/ros-rviz/wiki/User-guide.

[2018-11-28 20:09] #1 closed, assigned to nobody

[2018-11-30 05:25] athackst opened #4 "Can't install package"
CMake Error at cmake_install.cmake:133 (file):
  file INSTALL cannot find
  "/home/docker/catkin_ws/build/rvizweb/rvizweb/www/build/www".

[2018-11-30 18:33] athackst commented on #4
I probably need to add some more info:

It looks like the CMakeLists has some execute_process(..) functions in it that create this www directory, however I can't seem to get catkin build to create them.  I've tried --force-cmake.  Is there something special I should be doing?

[2018-11-30 18:42] chapulina commented on #4
Do you have the whole output of the catkin command? Also, could you check the node, bower and polymer versions?

[2018-11-30 19:05] athackst commented on #4
There's not much more to it
catkin config
[code]
Error:
[code]

node: 11.3.0
bower: 1.8.4
polymer-cli: 1.9.1

I'm building inside a docker container using kinetic

[2018-11-30 19:34] jubeira commented on #4
Hello @athackst, by any chance are you using `catkin_tools`? Have you tried with `catkin_make` as in the readme / [Quickstart section](https://github.com/osrf/rvizweb#quickstart), 4th step?

[2018-12-01 02:43] chapulina commented on #4
I was able to reproduce the issue using catkin tools, it only happens after I run `catkin install` in the workspace and then run `catkin build` again.

I poked around a bit and I think the issue happens because with catkin_make, `CMAKE_BINARY_DIR` and `CMAKE_SOURCE_DIR` don't include the package name, but with catkin tools they do. I also tried colcon and it has the same issue as catkin tools.

I'

[2018-12-02 03:27] chapulina commented on #4
@athackst , feel free to close the issue if it's been solved by #5.

[2018-12-03 20:44] athackst commented on #4
I am using catkin_tools. I seem to still be having the issue.

This is the build command I'm running:
[code]
I can also provide a docker so you can reproduce (however it's quite large)

[2018-12-04 14:29] jubeira commented on #4
Thanks for the details @athackst; I'll try to reproduce it on my side using a similar config.
Meanwhile, could you try using `catkin_make install` on your side, or is there a limitation for you to use it?

[2018-12-04 14:49] jubeira commented on #4
I can build it successfully on my side. Note that if you are not starting from a fresh workspace you might want to delete `build`, `devel`, `logs` and `.catkin_tools` folder in the root directory of your workspace before building.

Are you getting the same error as before, or did the message change with the changes in #5? And perhaps it's a silly question, but do you have write access to `/opt/tri

[2018-12-05 02:38] chapulina commented on #4
@athackst , I took a look at your docker image and was able to reproduce the problem, which seemed to be caused by running as the root user. I was able to install and run rvizweb in the container using the changes in #6. The hint was in the warnings above the errors:

[code]

I did need to take some hacky steps in order to properly install global node modules as root, but if you got to the point o

[2018-12-06 21:02] athackst commented on #4
yay! it works!

[2018-12-06 21:02] #4 closed, assigned to nobody

[2018-12-06 21:49] athackst opened #7 "robot model prefix support"
We use the "prefix" option in robot_state_publisher to disambiguate multiples.  The QT RViz has a "TF Prefix"  parameter that is used to read in a prefixed TF tree.   Would it be possible to add that here?

[2018-12-06 21:55] athackst opened #8 "Image performance issues"
I see items added to the 3D display, but where does the "Image" type show up?

[2018-12-06 22:02] chapulina commented on #8
Once you click `+` then `Image`, you get an Image item on the menu, and a floating image display. Which one are you missing?

![](https://user-images.githubusercontent.com/5751272/48876681-3bebb780-edb4-11e8-942b-5d880f0b4787.gif)

[2018-12-06 22:15] athackst opened #9 "Point cloud delayed"
I'm running TF and points (from a velodyne) and we're seeing a really long lag between the display and true data

[2018-12-06 22:21] athackst commented on #8
I don't see the floating image.

[2018-12-06 22:25] chapulina commented on #8
The element is transparent by default, are you sure there are images being published?

It would be good for us to add a placeholder rectangle with some text when there are no images being received.

[2018-12-06 22:37] athackst commented on #8
Ah, it finally showed up.

It now appears to be very far behind and super fast forwarded video.

[2018-12-06 22:46] chapulina commented on #8
Cool, that sounds like a performance issue, I imagine you're also displaying other things like TF and the robot pose too.

[2018-12-18 01:51] athackst commented on #7
I think you misunderstood.

It's the robot model plugin that needs the TF prefix, not the TF component.  The URDF is not prefixed, but our TFs have a published prefix from robot_state_publisher

<img width="1176" alt="screen shot 2018-12-17 at 5 49 35 pm" src="https://user-images.githubusercontent.com/6098197/50127034-330bcb80-0224-11e9-9f4e-e0d03149d29e.png">

[2018-12-18 02:03] athackst opened #10 "Ability to load config from launch"
I would like to be able to start up ros rviz with a given configuration file

[2018-12-18 12:58] jubeira commented on #7
Sorry for the misunderstanding; now I see it! I'll send a PR soon with the patch.

[2018-12-18 17:55] chapulina commented on #7
Is this _the_ TF prefix that has been [deprecated since Hydro](http://wiki.ros.org/hydro/Migration#tf2.2BAC8-Migration.Removal_of_support_for_tf_prefix)? It was my understanding that its use has been discouraged for many years now.

[2018-12-18 18:53] athackst commented on #7
No, this is the tf_prefix associated with the robot_state_publisher http://wiki.ros.org/robot_state_publisher  and therefore has a supporting tf_prefix in the robot_model display in rviz.

[2018-12-18 19:03] chapulina commented on #7
If it's really something else, the terms are very confusing. On the `robot_state_publisher` link there's a link to `tf_prefixes` which leads to this TF page: http://wiki.ros.org/tf/Theory. The page doesn't mention deprecations, but it could just be very outdated.

In any case, I was mainly curious, since we've removed all support for `tf_prefix` from `gazebo_ros_pkgs` when porting to ROS2. If RViz

[2018-12-18 20:28] jubeira commented on #10
Some thoughts on this:
- I think it would make sense that the configuration file has the same structure as the configuration; e.g.:
[code]
- A user shouldn't need to reinstall `rvizweb` to change a configuration.

So the file has to be made available to the backend (using a ROS param for example?), and the configuration should be applied to the screen right after startup. [JSON.parse](https://stac

[2018-12-18 21:18] chapulina commented on #10
+1

+1

Yeah I think a param that holds the whole configuration as a string could work. I can't think of a better alternative, maybe a "set config" service? Either way, we could write a basic node that reads a json file and sets a param or calls a service.

But then would users need to clone, edit and reinstall rvizweb to use the new file?

[2018-12-19 12:53] jubeira commented on #10
Indeed, and that's not good from the user's perspective. The 'problem' with using ROS to retrieve the configuration is that you would need to get a handle to ROS when starting and try retrieving a parameter / calling a service, and my first thought was that it's not super clean to do so when initializing the configuration variables. Anyway, thanks for the comments! I think I'll go that way.

[2018-12-20 12:35] jubeira commented on #8
(Related to #9 as well): we will try changing the dependencies' version to use latest changes and improvements in `ros3djs` and related libraries and try to identify bottlenecks.

[2018-12-21 21:51] jubeira commented on #8
Update: I tried updating the libraries, but I got some conflicts with the versions.
- `ros3djs` was changed to target `develop` [branch](https://github.com/RobotWebTools/ros3djs/blob/develop/bower.json), which depends on a different version of `threejs` than the one used in `polymer-ros-rviz`.
- `ros3djs` uses `roslibjs#0.14.0`, but `ros-rviz` also needs `ros-websocket` which uses `0.18.0` (see [h

[2018-12-21 22:10] chapulina commented on #8
Upgrading `three.js` versions is always a tricky task. How about we ticket new issues for bumping each version and tackle them one by one?  For `threejs`, the [migration guide](https://github.com/mrdoob/three.js/wiki/Migration-Guide) is a start, but we'll probably also need to research beyond that.

[2018-12-26 13:02] jubeira commented on #8
Alright, adding some more info here:
- When taking a look at the dependencies for `ros3djs` @ `develop` branch after installing the dependencies and searching for `threejs` I see `bower_components/ros3djs/bower.json:    "threejs": "mrdoob/three.js#r88"`, while with the currently used `ros3djs` I see `bower_components/ros3djs/bower.json:    "threejs": "mrdoob/three.js#r64"`.
- The `TypeError` is co

[2018-12-26 18:57] #7 closed, assigned to nobody

[2019-01-04 06:45] mvollrath commented on #9
PointCloud2 performance has been bad because it is sending base64-encoded data in a JSON string, which is large over the wire, slow to decode, and expensive to convert back to binary data.  It is greatly improved as of [this ros3djs commit on develop branch](https://github.com/RobotWebTools/ros3djs/commit/e3fb0ad8d971d666357c7b49fbeea9e87c06d463) which switches to the new [CBOR binary encoding](ht

[2019-01-04 13:51] jubeira commented on #9
Hi @mvollrath,

I've been trying to use the latest `ros3djs#develop` together with the latest `rosbridge_suite` to check if this solved the issue, but I couldn't get the basic `pointcloud2` example to work properly using a simulated Turtlebot / PR2. Here's the description of the issue: https://github.com/RobotWebTools/ros3djs/issues/243 (note that I checked the pointcloud and I see no NaNs in the

[2019-01-04 19:00] mvollrath commented on #9
You need to use roslibjs from develop branch, things will probably be broken until they release it.

[2019-01-04 20:17] mvollrath commented on #9
I think that turtlebot cloud you're trying to use has a different point format, ros3djs seems like it only supports one.  Also it's epic huge.

[2019-01-04 20:35] jubeira commented on #9
Note that I could see the pointcloud with `ros3djs@master` (with a huge delay, and streaming only a few secs to prevent overflowing my PC's RAM), so that's why I thought it was not a format issue in this case. Did that change in `develop` branch as well?
And yes, the amount of data is really big, but it's also a pretty common example to work on.

I'll give `roslibjs@develop` branch a shot as you p

[2019-01-06 02:47] mvollrath commented on #9
There's a different code path for decoding binary vs. base64 PointCloud2 data, for whatever reason.  That's probably it works on master but not over CBOR.

The PointCloud2 data in the turtlebot thing is malformed.  Either the fields are mislabeled or 50% of the data is unused bloat.

[2019-01-07 20:54] jubeira commented on #9
Yes, when I print the data on the console I see a large amount of `0`s everywhere.
Today I tried the latest `ros3djs` examples and `rosbridge_suite` with a different pointcloud source ([tango ros streamer](https://github.com/intermodalics/tango_ros)) and it worked fine.

The pointcloud coming from Turtlebot Gazebo **(not ok)** has the following metadata:
[code]

while the one coming from the Tango

[2019-01-08 22:48] jubeira commented on #9
Update: I could see the (well formed) pointcloud using `ros3djs@develop` in `rvizweb`, but now I don't see much difference with the version used in `rvizweb#master` branch.

I tried again [pointcloud2 example](https://github.com/RobotWebTools/ros3djs/blob/develop/examples/pointcloud2.html) with the latest `rosbridge`; the example already uses `roslibjs 0.20.0`. When I see the packets over wireshar

[2019-01-09 01:06] mvollrath commented on #9
roslibjs 0.20.0 doesn't have support for "cbor" decompression, for some reason they made a release last week but only included commits from a year ago.  However, ros3djs *should* have requested "cbor" compression from rosbridge and gotten binary messages back (even though roslibjs couldn't decompress them).  In ros3djs develop, "cbor" is the default compression for PointCloud2.  So it sounds like

[2019-01-09 20:23] jubeira commented on #9
@mvollrath thanks for those hints!
I hadn't noticed the pre-built version wasn't updated with the latest changes. I rebuilt the latest `ros3djs` and `roslibjs` and now I can see the `cbor` request (after switching `roslibjs` to the latest one I don't see it complaining about BSON headers anymore).

Now I'm getting another error when receiving messages:
[code]

But at least it seems I got the lates

[2019-01-09 22:06] mvollrath commented on #9
Where is that RangeError happening?

[2019-01-10 10:28] mvollrath commented on #9
I dug through a bunch of dependencies, forked six repos, and ended up with a working Bower distribution with CBOR point clouds.  There is [a PR](https://github.com/osrf/rvizweb/pull/12) to follow this chain of forks, but will take some more work to get all of the deps released and updated.

[2019-01-10 20:16] jubeira commented on #9
After some debugging I found that the problem is here:
https://github.com/RobotWebTools/ros3djs/blob/e3fb0ad8d971d666357c7b49fbeea9e87c06d463/src/sensors/PointCloud2.js#L99

In my case `points.buffer` doesn't have the size of the message (I didn't set max sizes optional values; I'm following `pointcloud2` example as it is).

The problem is partially solved by https://github.com/RobotWebTools/ros3d

[2019-01-10 20:50] jubeira commented on #9
I didn't have the issue with `rvizweb` basically because `max_pts` is set to something larger than the pointcloud I was using for testing purposes: https://github.com/EndPointCorp/polymer-ros-rviz/blob/9c4061476657724fa8900a1ee973748e3781035d/ros-rviz-point-cloud-2.html#L81.

If the pointcloud is larger than `max_pts` and you need `ros3djs` to clip it, the upper bound mentioned in here https://git

[2019-01-10 22:59] mvollrath commented on #9
Glad it's working!  I'll be working on getting the upstreams fixed, and I'll test ros3djs some more against max_pts.

[2019-01-11 00:04] mvollrath opened #13 "Get upstream things updated for CBOR support"
Post #12 we want to use official releases of upstream things instead of forks.

* [x] Fix eventemitter2 conflicts in [ros3djs](https://github.com/RobotWebTools/ros3djs/pull/245) and [roslibjs](https://github.com/RobotWebTools/roslibjs/pull/310).
* [x] [Get roslibjs released](https://github.com/RobotWebTools/roslibjs/pull/314).
* [x] [Get ros3djs released](https://github.com/RobotWebTools/ros3djs/p

[2019-01-16 21:43] mvollrath commented on #8
I worked on this today, testing with a 1920x1080@30 video stream.  At first I couldn't reproduce the visual lag, then I opened the dev tools and saw it.  You should know that anytime the dev tools are open this application will lag, because Chrome is generating a pile of debug information every time a WS message comes in.

I was still interested in optimizing, so I tried switching to CBOR transpor

[2019-01-16 21:56] mvollrath commented on #8
CBOR with Blob instead of base64 doesn't freeze up when dev tools are open, for whatever reason, even though Blobbing takes twice as much JavaScript time as loading in the base64 string.

[2019-01-16 22:09] mvollrath commented on #8
Outliers abound, the CBOR path is usually faster :+1:

[2019-01-16 22:13] mvollrath commented on #8
Branch based on forks is here: https://github.com/EndPointCorp/polymer-ros-rviz/tree/image_cbor

PR depends on polymer-ros-rviz's dependencies (ros-websocket and ros-service) updating to CBOR-capable roslib, which is [in progress](https://github.com/osrf/rvizweb/issues/13).

[2019-01-17 17:39] jubeira opened #15 "Add solid background for image component when no image is received"
Right now the viewer is transparent, so if the component is active but no image is being streamed nothing appears on the screen.

The background color should be solid when no image is being received and transparent otherwise.

[2019-01-17 19:56] chapulina commented on #8
Branched this to #15

[2019-01-18 19:22] #10 closed, assigned to nobody

[2019-01-25 19:27] chapulina commented on #13
For the polymer code, let's use our forks for now. @mvollrath , mind creating PRs with the necessary changes against these repos?

* https://github.com/osrf/polymer-ros-websocket
* https://github.com/osrf/polymer-ros-service
* https://github.com/osrf/polymer-ros-rviz

[2019-01-29 03:42] Rakeshv87 opened #16 "404 for index.html"
Followed readme. couldnt launch the landing page with URL:
http://localhost:8001/rvizweb/www/index.html

2019-01-28 19:36:00,964 - roswww - INFO - roswww : # of packages : 349
2019-01-28 19:36:00,964 - roswww - INFO - roswww : Weg Page root : /
registered capabilities (classes):
 - rosbridge_library.capabilities.call_service.CallService
 - rosbridge_library.capabilities.advertise.Advertise
 - rosb

[2019-01-29 17:07] chapulina commented on #16
1. Are you sure you're serving on `localhost`? The host would be different if you're in a docker container for example.
1. Do you see a list of packages when you go to http://localhost:8001 ? Is `rvizweb` listed there?

[2019-01-29 17:33] mvollrath commented on #13
* https://github.com/osrf/polymer-ros-websocket/pull/1
* https://github.com/osrf/polymer-ros-service/pull/1
* https://github.com/osrf/polymer-ros-rviz/pull/18

[2019-01-30 19:21] #15 closed, assigned to nobody

[2019-01-30 19:29] chapulina opened #17 "Default config file is too restrictive"
https://github.com/osrf/rvizweb/pull/14 added a default configuration file which has some hardcoded URLs. However, when not running from `localhost`, like if you're inside docker, those URLs are wrong.

In fact, `ros-rviz` by default fills the URLs with the current location on the browser, so by itself it works, and then the config file is actually overriding the correct URLs.

I'm not sure what's

[2019-01-30 19:40] jubeira commented on #17
Interesting observation.
If the location is solved during runtime, we don't have too many options. If we want to keep the file, we could keep it with no useful content, maybe just a comment like `# Insert your configuration here` and catch that when loading. Then, the documentation in the `README` file should do the rest to show how things work. WDYT?

[2019-01-30 19:58] chapulina commented on #17
How about keeping the file, but without any of the URL fields? Currently that clears the URLs though, so we'll need to add some logic not to set the URL if it's empty.

[2019-01-30 20:02] jubeira commented on #17
I think it can be done; right now the operation is straightforward because it's just converting the JSON to an object. If we go that way I'd temporarily store all the fields that we would like to preserve in case the new ones are empty _before_ overwriting them, and in case they are erased I'd restore them. Does that make sense?

Edit: the only thing I don't like about this approach is that it add

[2019-01-30 20:52] chapulina commented on #17
Yeah I think that could work

Would it make implementation simpler if that was the case for every field? That's probably the best thing to do.

[2019-01-31 01:08] MattC11 opened #18 "Data not transmitting over network"
I have everything working locally, but when I try to use a second computer I don't get any of the data transmitted.  It loads the webserver correctly just none of the topic data shows up.

Is there some restrictions on this?

[2019-01-31 12:26] jubeira commented on #17
Sounds good; let's try that!

[2019-01-31 19:46] jubeira commented on #18
Hi @MattC11, thanks for the report.

Do you see any logs coming from `rosbridge_websocket`? I've tried this on two different systems and `rosbridge` is reporting that the connection is being dropped right after connecting:

[code]

@chapulina by any chance have you tried anything like this?

[2019-02-01 17:31] chapulina commented on #18
I would observe the same `connect` -> `disconnect` issue with https://github.com/osrf/polymer-ros-rviz/issues/20. @MattC11 , mind updating your system and trying with the latest `ros-rviz`?

[2019-02-01 20:58] MattC11 commented on #18
@jubeira  I see the same log error as you. Immediate client disconnection on remote machine.

[INFO] [1549054603.273210]: Client connected.  1 clients total.
[INFO] [1549054603.450931]: [Client 0] Subscribed to /tf2_web_republisher/feedback
[INFO] [1549054615.607401]: Client connected.  2 clients total.
[INFO] [1549054615.755179]: [Client 1] Subscribed to /tf2_web_republisher/feedback
[INFO] [1549

[2019-02-01 21:02] jubeira commented on #18
Thanks for the reply @MattC11; I'll take a look on Monday.

[2019-02-02 00:41] chapulina commented on #18
@MattC11 , did you take a look at the websocket IP in the UI, under `Global options`? Does that match your server's IP? And if it doesn't, when you change it to the correct one, do you see the `connected` -> `disconnected` cycle again?

[2019-02-02 01:15] MattC11 commented on #18
@chapulina I had not looked at the URL.  The Global Options was showing a localhost under Websocket URL.  Changed it to the remote address, refreshed and it works now.

[2019-02-02 01:23] chapulina commented on #18
Great! https://github.com/osrf/rvizweb/pull/19 should help you, as it will use the browser's location as the websocket URL by default.

[2019-02-04 14:09] jubeira commented on #18
I'm still seeing this. I tried these two options:
- Run `rvizweb` with its launchfile on system A, open the browser on system B using the hostname + port of the A's webserver. On the browser's console I see:
[code]
   and on the console that launched `rvizweb` I see:

[code]

- Serve `polymer-ros-rviz` (latest, with https://github.com/osrf/polymer-ros-rviz/issues/20 merged) on system A, open `rosb

[2019-02-08 21:59] chapulina commented on #18
@jubeira, I can't reproduce the issue. In situation 1, does the `Websocket URL` on the UI point to system A or B? Also, after the `Conected to websocket server` message, do you see an object printed? If so, what URL does it have?

[2019-02-11 17:09] jubeira commented on #18
Both the UI and the printed object have A's URL; this doesn't seem to be related with https://github.com/osrf/polymer-ros-rviz/issues/20.

I took a look at the packets in wireshark, and I see something like this (between machine running browser and machine running `rvizweb`):
- `browser` --> `rvizweb`: HTTP Get - upgrade protocol to websocket request
- `rvizweb` --> `browser`: switching protocols

[2019-02-11 17:45] #17 closed, assigned to jubeira

[2019-02-11 19:40] jubeira commented on #18
I couldn't find anything useful related to the error code, but I tried with two different systems and it worked fine; this probably means it's something specific to the first two systems I tried this with.

I'd keep this open just in case, but for now I'd say it's low priority.

[2019-02-14 22:41] mvollrath opened #20 "NPM-controlled builds"
The installation instructions recommend installing bower and polymer-cli globally, and CMakeLists.txt invokes these tools directly.  Using globally-installed, unfrozen tools is bad practice in all stages of development, because it results in non-deterministic output.

An alternative is making rvizweb a Node package and using `npm install` to install frozen versions of build tools, then defining sc

[2019-02-22 19:44] jubeira commented on #13
I went through the list and I checked that all those items were already solved. Closing now.

[2019-02-22 19:44] #13 closed, assigned to nobody

[2019-02-22 19:52] jubeira commented on #9
For the record, the tests I ran with a pointcloud coming from a Tango device applying changes mentioned in #13 an `rosbridge 0.10.1` went well. This should be ready to be tested with the Velodyne data input.

[2019-02-22 19:53] jubeira commented on #8
The binary path for images was merged in https://github.com/osrf/polymer-ros-rviz/pull/16.

[2019-02-28 21:58] chapulina commented on #8
@athackst , let us know if the latest branch works better for you and we can close this issue. Thanks!

[2019-02-28 21:59] chapulina commented on #9
@athackst , let us know if the latest branch works better for you and we can close this issue. Thanks!

[2019-02-28 22:56] athackst opened #21 "Installing inside a docker"
I'm having trouble building this package within a docker on jenkins.  Could you provide a simple dockerfile that installs this properly?

[2019-03-06 17:41] #20 closed, assigned to nobody

[2019-03-18 06:07] DhayaShekar opened #25 "Rviz for melodic version"
RVizWeb is not working for melodic version of ROS.Catkin_make install is failing.

[2019-03-18 13:24] jubeira commented on #25
Hi @DhayaShekar; `roswww` hasn't been released for Melodic AFAIK, which is a required dependency. Once it is released we can check whether some other action is required to make it work.

[2019-03-18 13:26] DhayaShekar commented on #25
Thanq.

[2019-03-18 14:14] dirk-thomas commented on #25
Please include the exact error message you are getting.

[2019-03-18 18:07] athackst opened #26 "Map display"
I would like to be able to display a nav_msgs/OccupancyGrid type message

[2019-03-18 18:10] #26 closed, assigned to nobody

[2019-03-18 18:11] athackst commented on #26
sorry, just realized the name was "occupancy grid" and not "map"

[2019-03-18 20:18] athackst commented on #25
I'm also using melodic.  I can share the melodic dockerfile I used to do an initial check out if that's useful.

I had to grab the source for roswww, interactive_marker_proxy and depthcloud_encoder.

[2019-03-18 20:22] athackst commented on #21
FYI, Jenkins was having an issue because it wants to run docker images with its own user name and group.  Since nvm is a per user/per session thing and the initial set up was done inside the docker (but being this package was built with exec) Jenkins couldn't access nodejs.  Interestingly, instead of failing out on not being able to find node, it just didn't execute the execute_process steps (with

[2019-03-18 20:27] dirk-thomas commented on #25
I would suggest to fill tickets upstream requesting a Melodic release.

[2019-03-18 20:45] jubeira commented on #21
Thanks for the report @athackst.
- EDIT: is this problem happening now, or was this the original problem?
- Is it possible for you to share a reduced version of your Jenkinsfile for us to reproduce the problem?
- For my own understanding, are you using the [docker image in the repository](https://github.com/osrf/rvizweb/blob/master/docker/Dockerfile) as-is, or as part of a bigger Dockerfile in jen

[2019-03-18 20:50] jubeira commented on #25
Ticket tracking (thanks @athackst!):
- [x] [roswww](https://github.com/tork-a/roswww/issues/47) - Melodic PR: https://github.com/ros/rosdistro/pull/20641.
- [x] [depthcloud_encoder](https://github.com/RobotWebTools/depthcloud_encoder/issues/13) - Melodic PR: https://github.com/ros/rosdistro/pull/20774.
- [x] [interactive_marker_proxy](https://github.com/RobotWebTools/interactive_marker_proxy/issue

[2019-03-18 21:14] athackst commented on #21
It was the original problem.  I've since just decided to pull and build as a part of the docker image as opposed to with the rest of my code.

Related: are you planning on releasing this in kinetic/melodic?  I would have just installed it if that were an option.

[2019-03-18 21:21] jubeira commented on #21
As we already figured in #25, releasing it for Melodic might be a bit tricky until the dependencies are rolled out.

For Kinetic it should be possible; we would need to create the `-release` repository for that and maybe a `kinetic` branch here. @chapulina WDYT?

[2019-03-18 21:54] chapulina opened #27 "Release into rosdistro"
It was brought up in https://github.com/osrf/rvizweb/issues/21#issuecomment-474103742 that it would be convenient to release RVizWeb into rosdistro (Kinetic at first, then Melodic once #25 is solved).

I think the first step for that would be to use `npm` / `nodejs` from rosdistro instead of installing it separately. There are [rosdep](https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#

[2019-03-18 21:55] chapulina commented on #21
Let's move the conversation about releasing into Kinetic to #27.

[2019-03-18 23:03] athackst opened #28 "Image disappears when minimized"
The image viewer disappears when the config element is minimized even though the image has been popped out of the side bar.

![Peek 2019-03-18 16-00](https://user-images.githubusercontent.com/6098197/54569201-261f8500-4997-11e9-823b-fd538f4742f3.gif)

[2019-03-18 23:39] athackst opened #29 "PointCloud2 enhancements"
Below is an image of a rgbd topic:
* RGB values not shown
* Point size not configurable
![Screenshot from 2019-03-18 16-36-39](https://user-images.githubusercontent.com/6098197/54570572-3ede6980-499c-11e9-8175-49dd0a9ed1af.png)

[2019-03-18 23:59] athackst opened #30 "TF for static transforms"
I'm not seeing static transforms in the TF display.

[2019-03-19 12:28] jubeira commented on #21
Sounds good; closing this one then.

[2019-03-19 12:28] #21 closed, assigned to jubeira

[2019-03-19 15:32] jubeira commented on #27
I'm having an issue with the rosdep keys; it seems that the version that comes with Ubuntu for `nodejs` is not enough:

[code]

`node` version can be updated via `npm` using the one installed from rosdeps like [this](https://tecadmin.net/upgrade-nodejs-via-npm/) or with `apt` like [this](https://github.com/nodesource/distributions/blob/master/README.md#debinstall). I've tried both options and they

[2019-03-19 15:38] jubeira commented on #29
@athackst understood!
Just one quick question: have you tried modifying the `size` parameter below the topic? That one should be working, and the color is indeed missing.

Same pointcloud with different point sizes:
![image](https://user-images.githubusercontent.com/2480899/54619629-b0bdbe00-4a43-11e9-8379-4beb752fec34.png)

![image](https://user-images.githubusercontent.com/2480899/54619661-bd421

[2019-03-19 16:30] dirk-thomas commented on #27
Ubuntu Bionic ships with nodejs 8.10.0: https://packages.ubuntu.com/bionic/nodejs So releasing into ROS Melodic should be no problem.

There is no need to also release it into ROS Kinetic.

[2019-03-19 16:55] chapulina commented on #27
I'm also ok with only releasing into Melodic. We can put this on hold until #25 is done.

[2019-03-20 05:00] athackst commented on #29
size works as expected (thanks!)

Would still be great to have color/rgb values

[2019-03-26 15:17] jubeira commented on #29
@athackst I've taken a look at this, and it should be possible to display the pointcloud with the current `ros3djs` according to the RGB values if they are contained in the message.

Just to double check: is this your case? The pointcloud should have a field dedicated to the color in it's `field` member, e.g.:

[code]

The reason I'm asking is because `rviz` has other options to add colors to a po

[2019-03-28 18:32] chapulina commented on #28
Fixed in https://github.com/osrf/polymer-ros-rviz/pull/23

[2019-03-28 18:32] #28 closed, assigned to nobody

[2019-04-01 12:30] jubeira commented on #25
@chapulina all the deps already have a PR open in `rosdistro` and will probably be merged soon. Would you please create a `-release` repository for `rvizweb` to use it with Bloom?

[2019-04-01 17:14] chapulina commented on #25
@dirk-thomas created one, you should have all permissions: https://github.com/ros-gbp/rvizweb-release

[2019-04-02 04:57] knorth55 commented on #16
I have the same problem.
I got packages listed on `http://localhost:8001` and i can access `http://localhost:8001/rvizweb`.
When I directory open `ws/install/share/rvizweb/www/index.html`, I can open the RVizweb GUI.

[2019-04-02 05:52] knorth55 commented on #16
i found out that this error caused by `roswww` version.
I need to use `0.1.11` and above to prevent this problem.
I made a release request for kinetic devel https://github.com/tork-a/roswww/issues/48.

[2019-04-03 04:27] knorth55 commented on #16
https://github.com/ros/rosdistro/pull/20785
now `roswww` `0.1.12` is released in kinetic.

[2019-04-03 17:29] chapulina commented on #16
Thanks, @knorth55 ! @Rakeshv87 , has your problem been solved?

[2019-04-03 17:39] knorth55 commented on #16
@chapulina my problem is solved with `roswww` `0.1.12`

[2019-04-04 01:36] knorth55 opened #31 "PR2 robot model is not shown in Rvizweb"
Some links in PR2 are not shown in Rvizweb.
The issue is reported in https://github.com/osrf/rvizweb/pull/12#issuecomment-453648889, but I could not find out how to fix this problem.

![rvizweb_pr2](https://user-images.githubusercontent.com/9300063/55523730-62582280-56c5-11e9-8c41-78e2300b76c8.png)

[2019-04-04 01:43] chapulina commented on #31
What distro are you in, and if you built any dependencies from source, what are their versions?

Also, do you see any error messages on the browser console? I'd expect some network errors failing to fetch mesh files.

[2019-04-04 02:24] knorth55 commented on #31
my distro is Kinetic.
I install all PR2 dependencies in `apt`.
[code]

console output is below.
[code]

[2019-04-04 02:29] knorth55 commented on #31
I launch like this
[code]

[2019-04-04 13:52] jubeira commented on #31
This is happening since we updated `THREE.js` version as pointed out in the issue description.

Note however that the problem is with PR2's mesh in particular, not all meshes. I've tried other meshes like Turtlebot and UR arms and they worked well (see this [comment](https://github.com/osrf/polymer-ros-rviz/pull/19#pullrequestreview-206824261) for reference).

@chapulina the meshes of the PR2 are

[2019-04-04 13:56] knorth55 commented on #31
Yes, I already tried baxter, UR and turtlebot and it works!
I will look in to find out how to solve this issue, too.

[2019-04-04 17:49] chapulina commented on #31
Oh ok, I didn't realize the PR2 hadn't been fixed after the referenced comment.

We had previously noted that the PR2 textures weren't well supported because they're in the TIFF format: https://github.com/osrf/polymer-ros-rviz/issues/3 , maybe it could be related? I wouldn't expect them to show transparent in this case though... Maybe it's worth trying to convert them to png and see if it works ju

[2019-04-04 19:27] jubeira commented on #27
Summary on progress on this so far:
- All ROS dependencies have been released to `rosdistro` (see list [here](https://github.com/osrf/rvizweb/issues/25#issuecomment-474095336)).
- There's a dependency conflict between some `rvizweb`'s dependencies and a library `npm` depends on indirectly. In short, `rvizweb` depends indirectly on `libssl` and `npm` on `libssl1.0`, which are not compatible (see [h

[2019-04-05 21:18] jubeira commented on #27
Update:
- The `nodejs` version (8.10) that can be fetched in `ubuntu:18` by default does not come with `npm` in contrast with newer ones.
- The `npm` version that can be fetched in `ubuntu:18` (3.5) has conflicts with dependencies of many ROS packages according to the description above (namely, `libssl` and all libraries and packages that indirectly use it).

This means that adding `npm` and `node

[2019-04-05 21:22] jubeira commented on #25
See https://github.com/osrf/rvizweb/issues/27#issuecomment-480425186; for now a binary release into melodic is not possible because of system dependency issues.

[2019-04-05 21:22] #25 closed, assigned to nobody

[2019-04-05 21:22] #27 closed, assigned to jubeira

[2019-04-05 22:02] cahartsell commented on #18
@jubeira I had trouble with the `Client connected` immediately followed by `Client disconnected` with the same `Code 1009 "message too big"` error. According to the answer [here](https://stackoverflow.com/questions/53965987/why-do-i-receive-message-too-big-on-publish-error-1009), this happens because the `max_message_size` parameter in the `rosbridge_websocket.launch` launch file is set to `None`

[2019-04-08 08:20] weiqiyang commented on #16
I have the same problem.
The latest version for `roswww` on `indigo` is `0.1.10`, so I changed to ubuntu16.04 with `roswww 0.1.12`.
Now I can open the GUI from the path start with `file:///`.
But from [localhost:8001/rvizweb/www/index.html](http://localhost:8001/rvizweb/www/index.html), I still get `404: Not Found`.

[2019-04-08 08:30] knorth55 commented on #16
@weiqiyang can you access to `locahost:8001`?
if not, maybe you forgot to build it with installation.
[code]

[2019-04-08 13:03] jubeira commented on #18
Hi @cahartsell,
- Regarding the issue described here about the socket disconnections, I couldn't always reproduce it using two different systems. I'll try once more and apply the patch you propose to see if it fixes the error.
- Do you see any other error messages after applying those settings? You should see at least a part of PR2 (see #31) and the pink box should definitely work. If you don't, t

[2019-04-08 15:28] cahartsell commented on #18
@jubeira I did not try to reproduce the issue with RViz web running on a different host, but I did have the issue when connecting directly from localhost and remotely from a different machine on the same network.

No, I have not seen any other error messages with my setup. I think the browser is successfully communicating with the ROS bridge websocket now since I see messages in the console (eg. I

[2019-04-09 18:28] knorth55 commented on #31
I convert all `*.tif` to `*.png` for PR2 meshes and change to access `localhost` -> `127.0.0.1`, and it works.
Related issue: https://github.com/RobotWebTools/ros3djs/issues/209

![pr2_rvizweb](https://user-images.githubusercontent.com/9300063/55825317-b7ba8680-5b40-11e9-8cbe-dd67f862d633.png)

[2019-04-09 18:29] knorth55 commented on #31
https://github.com/RobotWebTools/ros3djs/issues/209#issuecomment-357942246
this comment have detailed explanation about this bug.

[2019-04-09 19:04] jubeira commented on #31
Thanks for the pointers and the update @knorth55!

@chapulina please let me know if you think we should still look into this (although the solution might be patching the dependencies?), or if adding a notice in the documentation is enough.

[2019-04-09 19:21] chapulina commented on #31
We could make a PR to `pr2_common` updating the textures and see what they say.

We could also try the suggestion on https://github.com/PR2/pr2_common/issues/226#issuecomment-29232357 and "do the tiff to png conversion on the fly whenever a browser requests a texture", but this feels overkill just to get the PR2 to work.

It's worth mentioning that the previous THREE.js version did show the tiff t

[2019-04-09 19:35] knorth55 commented on #31
There are two problems.
1. pr2_description depends on `*.tif`
I want to solve this issue because we still uses PR2.
I can make PR to suggest to add PR2 dae models with png files or support `tif` textures.

2. `localhost` cannot show correct meshes
I'm not familiar with these issues, but according to  https://github.com/RobotWebTools/ros3djs/issues/209#issuecomment-357942246 , meshes cannot be load

[2019-04-09 19:59] jubeira commented on #31
:+1:

@knorth55 sounds good. Note that in the comment referenced above (https://github.com/PR2/pr2_common/issues/226#issuecomment-29232357) the first suggestion is adding a buildstep that converts the meshes to png. That could work, and maybe it's more likely to be accepted upstream rather than just replacing the meshes.

Does that happen to you with Turtlebot and Baxter as well? From https://gith

[2019-04-10 00:53] knorth55 commented on #31
@jubeira No, it does not happen with Turtlebot and Baxter.

[2019-04-11 21:12] jubeira commented on #18
I could reproduce this issue as well running `rvizweb` in a system A and the browser in a system B.
`rosbridge` seems to be subscribing to the topics that provide the information, and I can also see the client (i.e. browser) subscribing to the topics, but no output can be seen in the browser (no error logs as well). It has to be an issue between rosbridge and the browser at some point. I'll dig a

[2019-05-16 09:05] yzczuzu commented on #31
how to convert all *.tif to *.png for PR2 meshes?

[2019-05-16 09:08] yzczuzu commented on #31
PR2 robot model is not shown in Rvizweb!!!

[2019-05-16 09:22] knorth55 commented on #31
@yzczuzu you can use `convert` command in Ubuntu. I convert all *.png to *.tiff manually.

[2019-05-16 11:33] yzczuzu commented on #31
ubuntu@ubuntu:~/catkin_ws/src$  convert *.tiff *.png
convert: unable to open image `*.tiff': No such file or directory @ error/blob.c/OpenBlob/2712.
convert: no images defined `*.png' @ error/convert.c/ConvertImageCommand/3210.

It is not working when I am running this command.

[2019-05-16 11:34] yzczuzu commented on #31
@knorth55

[2019-05-16 11:52] yzczuzu commented on #31
ubuntu@ubuntu:~/catkin_ws/src$  convert *.tiff *.png
convert: unable to open image `*.tiff': No such file or directory @ error/blob.c/OpenBlob/2712.
convert: no images defined `*.png' @ error/convert.c/ConvertImageCommand/3210.
ubuntu@ubuntu:~/catkin_ws/src$ ^C

@knorth55

[2019-05-16 11:53] yzczuzu commented on #31
ubuntu@ubuntu:~/catkin_ws/src$  convert *.tiff *.png
convert: unable to open image `*.tiff': No such file or directory @ error/blob.c/OpenBlob/2712.
convert: no images defined `*.png' @ error/convert.c/ConvertImageCommand/3210.

@knorth55

[2019-05-16 12:58] jubeira commented on #31
@yzczuzu you need to be in the directory where the `tiff` images are for that to work. Those should be where you have [pr2_description](https://github.com/PR2/pr2_common/tree/melodic-devel/pr2_description) package installed.

[2019-05-16 13:32] yzczuzu commented on #31
ubuntu@ubuntu:~/Desktop/pr2_common-melodic-devel/pr2_description$ convert *.tiff *.png
convert: unable to open image `*.tiff': No such file or directory @ error/blob.c/OpenBlob/2712.
convert: no images defined `*.png' @ error/convert.c/ConvertImageCommand/3210.

I did that in the pr2_description. But still not working. Can u tell me how to do that in detail???
@jubeira @knorth55

[2019-05-16 13:39] knorth55 commented on #31
@yzczuzu The error message said that there is no `*.tiff` file in the directory.
it means there is no `*.tiff` files in the current directory.
You need to move to dir where `*.tiff` exists and run the command.
Also you need to import `*.tiff` in URDF.
However if impossible, you can use my branch https://github.com/knorth55/pr2_common/tree/mesh-png

[2019-05-16 13:57] yzczuzu commented on #31
I download your branch. Then I launch the simulation by command
roslaunch pr2_gazebo pr2_empty_world.launch.
Then I launch RvizWeb by command
roslaunch rvizweb rvizweb.launch
But the PR2 robot model is still not shown in Rvizweb.
@knorth55

[2019-05-16 18:13] knorth55 commented on #31
@yzczuzu I cannot reproduce your error, so I cannot help you.
this issues is reported as "we cannot show PR2 in rvizweb".
I could show PR2 in rvizweb in my own environment, but it is not officially supported.
It means that we still don't know how to show PR2 model in rvizweb stably in all environment.
Also, rvizweb maintainers are shifting  from PR2 to turtlebot, so if you still want to show PR2 i

[2019-05-18 18:04] yzczuzu commented on #31
Thanks for helping!

[2019-05-21 13:14] SeiteBroken opened #34 "Is there a way to control the decay time of the Pointcloud?"
I want to control the decay time of my pointcloud ? Is it possible to make it stay longer ?

[2019-05-24 11:57] jubeira commented on #34
Hi @SeiteBroken,

It's currently not possible. I'm not 100% this is possible to do in `ros3djs`, which is where the component comes from. You might want to take a look at [ros3djs/PointCloud2](https://github.com/RobotWebTools/ros3djs/blob/develop/src/sensors/PointCloud2.js).

[2019-06-26 08:11] Kad91 commented on #16
I have the latest version of roswww ( 0.1.12 ), I can access to `locahost:8001` and can see the Package List and `rvizweb` is in. However, with localhost:8001/rvizweb/www/index.html, I still get 404: Not Found.

[2019-06-26 13:19] chapulina commented on #16
@Kad91 , did you get any errors while building? Can you paste your build logs somewhere for us to take a look?

[2019-06-26 14:27] Kad91 commented on #16
I get this after trying `. ~/.bashrc`

[code]

[2019-06-26 15:11] jubeira commented on #16
@Kad91 you could also try out the install instructions in [this branch](https://github.com/osrf/rvizweb/pull/32/files), which don't have that step that is failing.

[2019-07-01 15:08] Kad91 commented on #16
I get that after doing `curl -sL https://deb.nodesource.com/setup_8.x | sudo bash -`

[code]

[2019-07-03 08:56] Kad91 commented on #16
I had an issue with `apt-get update` which looks solved now. I modified the files and followed the new instructions. I am connected on port 8001 but still get `404: Not Found`

[2019-07-12 11:01] ytgcljj opened #35 "this is errror"
![微信截图_20190712190121](https://user-images.githubusercontent.com/27713475/61123662-7e930900-a4d7-11e9-82ba-6411b0ddc6dc.jpg)

[2019-07-12 12:38] chapulina commented on #35
@ytgcljj , could you explain how you got to this error?

Is this different from #16 ?

[2019-07-15 03:04] ytgcljj commented on #35
![微信图片_20190715110415](https://user-images.githubusercontent.com/27713475/61193811-56322700-a6f0-11e9-9e7e-c0419e87addc.jpg)

[2019-07-15 03:07] ytgcljj commented on #35
![微信图片_20190715110720](https://user-images.githubusercontent.com/27713475/61193891-bc1eae80-a6f0-11e9-9bac-452d29d044c8.jpg)

[2019-07-19 14:18] GavinStrunk commented on #16
Are you using catkin_make install and not catkin tools like catkin build? I had this problem when I tried it that way. It doesn't install the index.html or install the bower dependencies so even when you get past the 404 error I got a blank page. Once I switched to doing what the instructions actually said :) it worked on Ubuntu 18 and ros melodic with roswww 0.1.12.

[2019-07-21 03:19] power10dan opened #36 "Data not showing after attempting to follow tutorial"
Hi,

So, I followed everything on the "Quick Start" tutorial. After picking the "Marker" option and publishing it via rostopic, I didn't see any of the data published. When I checked the console, it showed me a warning "WebSocketClosedError: Tried to write to a closed websocket". I am suspecting that this is the issue that caused my markers to not display on rvizweb? I am not sure how to proceed o

[2019-07-22 08:14] Kad91 commented on #16
Yes, I used catkin_make install as mentioned in the instructions. Like the issue #35 , connected on port 8001, I get a blank page with `http://localhost:8001/rvizweb/` and 404 error with `http://localhost:8001/rvizweb/www/index.html`.

[2019-07-22 12:48] jubeira commented on #36
Hi @power10dan,

What browser are you using? Can you post a complete console log?

[2019-09-27 07:55] helenol commented on #16
+1, having the same issue on 18.04 melodic. Also built with catkin build first, then catkin_make, no difference. roswww version 0.1.12. Get a list of packages in the root of the webserver (including rvizweb), 404 on the web interface.

Launch output:
[code]

[2019-10-10 14:56] corey-mitchell commented on #16
I am also having this issue. I followed the "Quick start", the only difference being that I used catkin build rather than catkin_make.

OS:
Ubuntu 16.04 LTS

ROS Version:
Kinetic

roswww version:
0.1.2

When starting using 'roslaunch rvizweb rvizweb.launch' my output is as follows:

[code]

When I navigate to http://localhost:8001/rvizweb/www/index.html I receive the 404 error. So I tried localhos

[2020-03-15 15:50] VinayMaida commented on #16
so is it solved?

[2020-03-29 15:06] ifollowbenoit opened #37 "Adding a new type of display [question]"
Hello,

I would like to add other type of display when clicking the add Display button on a web page, for example Path. But I could also need some more defined here http://wiki.ros.org/rviz/DisplayTypes .

How can I proceed to do that?

Thank you

[2020-03-30 17:37] chapulina commented on #37
I think there isn't an easy way to extend RVizWeb right now. You could fork it and make PRs upstream to contribute new displays. I recommend you take a look at past pull requests adding displays, like https://github.com/osrf/polymer-ros-rviz/pull/7

[2020-04-02 07:29] TabbCoding opened #38 "Show a topic [question]"
how can i show the topic which is '/move_group/monitored_panning_scene'

[2020-04-24 13:54] muyiniao opened #39 "urdf do not move as robot moving"
urdf object do not move as robot moving, and pointcloud2 work. What should i do to move urdf object ?

[2020-06-18 09:57] naointingagain commented on #16
I am getting the 404 error when I open index.html as well. I am also getting these errors when running `roslaunch rvizweb rvizweb.launch` :
`ERROR: cannot launch node of type [rosbridge_server/rosbridge_websocket]: Cannot locate node of type [rosbridge_websocket] in package [rosbridge_server]. Make sure file exists in package path and permission is set to executable (chmod +x)
ERROR: cannot launch

[2020-06-28 09:54] naointingagain opened #40 "404 not found when opening http://localhost:8001/rvizweb/www/index.html"
When I run ` roslaunch rvizweb rvizweb.launch` , everything runs fine as shown. However, when I open the webpage it shows nothing but 404 not found. I am not sure what the issue is exactly and would appreciate any help! Thank you.
![Screenshot from 2020-06-28 17-46-13](https://user-images.githubusercontent.com/38975777/85944305-56aae880-b968-11ea-8fc5-2d2bc8ea2b79.png)

[2020-07-10 17:04] mfahadrobotics commented on #16
I am facing the same issue. There is no error but I am getting the 404 error. Anyone got to solve it? I already tried the things suggested above.

[2020-07-14 15:04] mfahadrobotics commented on #40
I am having the same issue. Did you find a fix for it?

[2020-07-16 05:55] naointingagain commented on #40
No :(

[2020-07-29 12:31] Owen-Liuyuxuan commented on #16
In Ubuntu 18.04 melodic, I manage to solve the problem.

In the workspace directory after running "catkin_make install", I at the first time run
[code]
Then I see 404. (ROS package list correct but 404 in index.html)

Then I run
[code]
instead. And this time, I manage to get everything running.

[2020-07-31 11:23] chuan9 opened #41 "no depth cloud shown on web"
@jubeira @chapulina
hi, all
This project is great to show ros on web. I tried this project and most of them can work but two feature: Point cloud2 and Depth cloud. Point cloud is in progress AFA, will you have have a look on depth cloud?
The log is as bellow:
[code]
And I use command toecho the following command:
[code]
All of them have data output.

Thanks

[2020-08-19 22:16] smgee opened #42 "Load Config action doesn't support TF prefix param"
In loading a TF display or Robot Model display, I've noticed there is no entry under the 'options' struct to specify the TF Prefix. While it can be done manually, I would have expected this parameter to be exposed while loading a config file. I've tried explicitly adding it during the load action hoping it was a hidden feature, but that doesn't seem to be the case.

Does the option exist and I can

[2020-08-24 08:47] Ademord commented on #41
I am also interested on this and waiting

[2020-08-25 17:22] chapulina commented on #41
There's no active development happening on this repository, so I don't foresee this being tackled in the near future.

[2020-10-02 01:44] sgzuccaro opened #43 "How to set default viewing perspective?"
Is there a way to set the default viewing perspective? It would be nice to be able to set an initial view/perspective frame in the config file for cases where the user can’t zoom or rotate i.e a touchless display.

[2020-10-16 01:07] AkerIII commented on #40
run 'source install/setup.bash' then roslaunch

[2020-11-05 22:14] ljulc opened #44 "set up in devel"
Because I have some other ros packages, I would like to run rvizweb from devel instead of install of ROS. Can anyone help me here? Thanks.

[2020-11-16 08:07] ruk-shan commented on #40
Same here. I have the same issue.

[2020-12-01 06:08] wumingpu commented on #16
first delete the files in the path `"~/ws/install/shared/rvizweb/www/*"`
`rm -rf ~/ws/install/shared/rvizweb/www/*`
then copy the files in the path `"~/ws/build/rvizweb/www/*"` to the path `"~/ws/install/shared/rvizweb/www/*"`
`cp -r ~/ws/build/rvizweb/www/* ~/ws/install/share/rvizweb/www/`

the url http://localhost:8001/rvizweb/www/index.html can open now.

[2020-12-22 01:19] heshiwen1989 opened #45 "catkin_make install failed"
When I run "catkin_make install", I got the follow information:

`added 1559 packages from 1717 contributors and audited 1354 packages in 14991.309s
found 936 vulnerabilities (910 low, 8 moderate, 18 high)
  run `npm audit fix` to fix them, or `npm audit` for details

┌────────────────────────────────────────────────────────┐
│                npm update check failed                 │
│          Tr

[2020-12-30 02:19] heshiwen1989 commented on #40
The same issue, Any one do with it?

[2021-02-23 13:04] SystemDiagnosticss opened #46 "2D nav Goal in rvizweb"
Is it possible get 2D pose estimate and 2D nav Goal value in rvizweb via onclick js event??

[2021-02-24 19:16] srujan-aris commented on #45
I have the same issue. Were you able to resolve it?

[2021-02-24 19:17] srujan-aris commented on #45
@heshiwen1989 ,

I have the same issue. Were you able to resolve this?

[2021-02-24 19:41] SystemDiagnosticss commented on #46
Hi guys @jubeira @chapulina @mvollrath Can you please give me feedback. Thanks

[2021-02-25 01:24] heshiwen1989 commented on #45
For Me, Just Delete This  File: '/home/hsw1/.config/configstore/bower-github.json',  Because this file need root And Restart catkin_make install again !

[2021-02-25 01:25] #45 closed, assigned to nobody

[2021-02-25 13:09] jubeira commented on #46
Hi @SystemDiagnosticss, I don't think that's a feature in the current codebase.
You basically want to raycast a click in the screen, is that right?

[2021-02-26 19:30] SystemDiagnosticss commented on #46
Yes absolutely

[2021-03-01 12:56] jubeira commented on #46
So while it's not implemented, you can try modifying the code if you want to.
Here's one pointer that could be useful: https://threejs.org/docs/#api/en/core/Raycaster.

I'd try looking at how to use it in this codebase to start with.
Good luck!

[2021-03-09 21:51] SystemDiagnosticss commented on #46
@jubeira thanks for your answer. May you give me some start point (some_file.js) where I can add this possibilities?

[2021-03-25 10:40] nikisalli commented on #40
Same issue here

[2021-04-01 16:37] canberkgurel commented on #40
Same issue.

[2021-04-16 07:04] mhakca commented on #37
Hi, @ifollowbenoit could you add path display ?

[2021-04-17 15:12] sgzuccaro commented on #43
Hello, does anyone have an idea of how to do this? Thanks!

[2021-04-30 09:28] ekorudiawan commented on #40
I fixed with this command

[2021-06-22 15:04] sauerma opened #47 "Running RVIZ locally and show RVIZ synchronous on web page"
Hello,
we are a public project team of a german university (Offenburg).
RVIZ is running locally, but we want to show the map syncrounous on the web browser.

We have the following output in the terminal:

[gzserver-13] [Msg] Waiting for master.
[gzserver-13] [Msg] Connected to gazebo master @ http://127.0.0.1:11345
[gzserver-13] [Msg] Publicized address: 192.168.178.109

Is there a way to show the

[2022-03-22 02:19] lovelyplanet2019 opened #48 "posibble integration to current UI webpage?"
right now, I have a webpage that displays the 2d and 3d map from robot velodyne LIDAR.
Can I make use of the gazebo simulator + rvizweb to the current webpage?

[2022-04-26 04:00] #8 closed, assigned to nobody

[2022-04-26 04:00] #9 closed, assigned to nobody

[2022-04-26 04:01] #29 closed, assigned to nobody

[2022-04-26 04:01] #30 closed, assigned to nobody

[2022-05-06 20:11] Felix-Tr commented on #16
Thanks! @wumingpu, this worked for me I can now see the UI

[2022-05-21 10:02] Even-ok opened #49 "How can I add mapcloud provided by rtabmap_ros?"
I want to visualize this one on web. what should I do? please help me!

![Q`6O69X~NTZEZEWA$ YCLYV](https://user-images.githubusercontent.com/68471571/169646484-f24090e6-68bb-40b1-9c9f-e8160d20a21e.png)

[2022-05-31 12:13] ayrton04 commented on #40
https://github.com/osrf/rvizweb/issues/16#issuecomment-736245370

This worked for me. Perhaps something is not being installed correctly.

[2022-06-29 16:25] cgarry-vs opened #50 "Will this work with ROS2/is there a roadmap?"

[2022-09-03 09:32] yantrall opened #51 "How to change texture"
I can see the robot and map both on the webpage but both are black in color. I could not figure out how to change the texture of the robot and map.

Do anyone know how to do that...